OFMC/Web References/LUSServisi/lus.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ServisSuresi">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FirmaID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServisSuresiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ServisSuresiResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticationHeader" type="tns:AuthenticationHeader" />
      <s:complexType name="AuthenticationHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="TerminalTanimlimi">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CasioID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MicrosoftID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TerminalTanimlimiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TerminalTanimlimiResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ServisSuresiSoapIn">
    <wsdl:part name="parameters" element="tns:ServisSuresi" />
  </wsdl:message>
  <wsdl:message name="ServisSuresiSoapOut">
    <wsdl:part name="parameters" element="tns:ServisSuresiResponse" />
  </wsdl:message>
  <wsdl:message name="ServisSuresiAuthenticationHeader">
    <wsdl:part name="AuthenticationHeader" element="tns:AuthenticationHeader" />
  </wsdl:message>
  <wsdl:message name="TerminalTanimlimiSoapIn">
    <wsdl:part name="parameters" element="tns:TerminalTanimlimi" />
  </wsdl:message>
  <wsdl:message name="TerminalTanimlimiSoapOut">
    <wsdl:part name="parameters" element="tns:TerminalTanimlimiResponse" />
  </wsdl:message>
  <wsdl:message name="TerminalTanimlimiAuthenticationHeader">
    <wsdl:part name="AuthenticationHeader" element="tns:AuthenticationHeader" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="ServisSuresi">
      <wsdl:input message="tns:ServisSuresiSoapIn" />
      <wsdl:output message="tns:ServisSuresiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TerminalTanimlimi">
      <wsdl:input message="tns:TerminalTanimlimiSoapIn" />
      <wsdl:output message="tns:TerminalTanimlimiSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ServisSuresi">
      <soap:operation soapAction="http://tempuri.org/ServisSuresi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ServisSuresiAuthenticationHeader" part="AuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TerminalTanimlimi">
      <soap:operation soapAction="http://tempuri.org/TerminalTanimlimi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:TerminalTanimlimiAuthenticationHeader" part="AuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ServisSuresi">
      <soap12:operation soapAction="http://tempuri.org/ServisSuresi" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ServisSuresiAuthenticationHeader" part="AuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TerminalTanimlimi">
      <soap12:operation soapAction="http://tempuri.org/TerminalTanimlimi" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:TerminalTanimlimiAuthenticationHeader" part="AuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://www._nebukadnezar_.com/lus.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://www._nebukadnezar_.com/lus.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>