OFMC/Web References/OnlineFaturaServisi/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.1.124/OnlineFatura/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.1.124/OnlineFatura/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetLUSadress_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLUSadress" />
  </wsdl:message>
  <wsdl:message name="IService1_GetLUSadress_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLUSadressResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_TerminalKullaniciKontrol_InputMessage">
    <wsdl:part name="parameters" element="tns:TerminalKullaniciKontrol" />
  </wsdl:message>
  <wsdl:message name="IService1_TerminalKullaniciKontrol_OutputMessage">
    <wsdl:part name="parameters" element="tns:TerminalKullaniciKontrolResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AboneBilgi_InputMessage">
    <wsdl:part name="parameters" element="tns:AboneBilgi" />
  </wsdl:message>
  <wsdl:message name="IService1_AboneBilgi_OutputMessage">
    <wsdl:part name="parameters" element="tns:AboneBilgiResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_FaturaKes_InputMessage">
    <wsdl:part name="parameters" element="tns:FaturaKes" />
  </wsdl:message>
  <wsdl:message name="IService1_FaturaKes_OutputMessage">
    <wsdl:part name="parameters" element="tns:FaturaKesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_FaturaSureti_InputMessage">
    <wsdl:part name="parameters" element="tns:FaturaSureti" />
  </wsdl:message>
  <wsdl:message name="IService1_FaturaSureti_OutputMessage">
    <wsdl:part name="parameters" element="tns:FaturaSuretiResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_TerminalGPSKonumKaydet_InputMessage">
    <wsdl:part name="parameters" element="tns:TerminalGPSKonumKaydet" />
  </wsdl:message>
  <wsdl:message name="IService1_TerminalGPSKonumKaydet_OutputMessage">
    <wsdl:part name="parameters" element="tns:TerminalGPSKonumKaydetResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_HataKodlariniOku_InputMessage">
    <wsdl:part name="parameters" element="tns:HataKodlariniOku" />
  </wsdl:message>
  <wsdl:message name="IService1_HataKodlariniOku_OutputMessage">
    <wsdl:part name="parameters" element="tns:HataKodlariniOkuResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_YetkiliGSMler_InputMessage">
    <wsdl:part name="parameters" element="tns:YetkiliGSMler" />
  </wsdl:message>
  <wsdl:message name="IService1_YetkiliGSMler_OutputMessage">
    <wsdl:part name="parameters" element="tns:YetkiliGSMlerResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GSMLogKaydet_InputMessage">
    <wsdl:part name="parameters" element="tns:GSMLogKaydet" />
  </wsdl:message>
  <wsdl:message name="IService1_GSMLogKaydet_OutputMessage">
    <wsdl:part name="parameters" element="tns:GSMLogKaydetResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_OlayLogKaydet_InputMessage">
    <wsdl:part name="parameters" element="tns:OlayLogKaydet" />
  </wsdl:message>
  <wsdl:message name="IService1_OlayLogKaydet_OutputMessage">
    <wsdl:part name="parameters" element="tns:OlayLogKaydetResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetLUSadress">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetLUSadress" message="tns:IService1_GetLUSadress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetLUSadressResponse" message="tns:IService1_GetLUSadress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TerminalKullaniciKontrol">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/TerminalKullaniciKontrol" message="tns:IService1_TerminalKullaniciKontrol_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/TerminalKullaniciKontrolResponse" message="tns:IService1_TerminalKullaniciKontrol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AboneBilgi">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AboneBilgi" message="tns:IService1_AboneBilgi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AboneBilgiResponse" message="tns:IService1_AboneBilgi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FaturaKes">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/FaturaKes" message="tns:IService1_FaturaKes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/FaturaKesResponse" message="tns:IService1_FaturaKes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FaturaSureti">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/FaturaSureti" message="tns:IService1_FaturaSureti_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/FaturaSuretiResponse" message="tns:IService1_FaturaSureti_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TerminalGPSKonumKaydet">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/TerminalGPSKonumKaydet" message="tns:IService1_TerminalGPSKonumKaydet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/TerminalGPSKonumKaydetResponse" message="tns:IService1_TerminalGPSKonumKaydet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HataKodlariniOku">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/HataKodlariniOku" message="tns:IService1_HataKodlariniOku_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/HataKodlariniOkuResponse" message="tns:IService1_HataKodlariniOku_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="YetkiliGSMler">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/YetkiliGSMler" message="tns:IService1_YetkiliGSMler_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/YetkiliGSMlerResponse" message="tns:IService1_YetkiliGSMler_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GSMLogKaydet">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GSMLogKaydet" message="tns:IService1_GSMLogKaydet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GSMLogKaydetResponse" message="tns:IService1_GSMLogKaydet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OlayLogKaydet">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/OlayLogKaydet" message="tns:IService1_OlayLogKaydet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/OlayLogKaydetResponse" message="tns:IService1_OlayLogKaydet_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLUSadress">
      <soap:operation soapAction="http://tempuri.org/IService1/GetLUSadress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TerminalKullaniciKontrol">
      <soap:operation soapAction="http://tempuri.org/IService1/TerminalKullaniciKontrol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AboneBilgi">
      <soap:operation soapAction="http://tempuri.org/IService1/AboneBilgi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FaturaKes">
      <soap:operation soapAction="http://tempuri.org/IService1/FaturaKes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FaturaSureti">
      <soap:operation soapAction="http://tempuri.org/IService1/FaturaSureti" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TerminalGPSKonumKaydet">
      <soap:operation soapAction="http://tempuri.org/IService1/TerminalGPSKonumKaydet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HataKodlariniOku">
      <soap:operation soapAction="http://tempuri.org/IService1/HataKodlariniOku" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="YetkiliGSMler">
      <soap:operation soapAction="http://tempuri.org/IService1/YetkiliGSMler" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GSMLogKaydet">
      <soap:operation soapAction="http://tempuri.org/IService1/GSMLogKaydet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OlayLogKaydet">
      <soap:operation soapAction="http://tempuri.org/IService1/OlayLogKaydet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://192.168.1.124/OnlineFatura/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>